html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: RGB(31,31,31);
    
}

h1, span, .unidades {
    color: RGB(255,181,24);
}

p {
    font-size: 1.5rem;
}

.acciones{
    justify-content: center;
    
}

.avanzar, .izquierda, .reiniciar, .derecha, .retroceder{
    width: 100px;
    height: 100px;
    border-radius: 25%;
    background-color: RGB(255,181,24);
    font-size: 4rem;
}

.avanzar{
    margin-top: 25px;
    margin-bottom: 33px;
}

.retroceder{
    margin-top: 33px;
}

.velocidades{    
    left: 0;
    bottom: 33px;
    width: 100%;
    position: fixed;
    text-align: center;
}

.velocidades i, .acciones{
    font-size: 5.3rem;
}

.lento, .medio, .rapido{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: RGB(255,181,24);
}
